/*------------
    RESET
------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*------------
    GENERAL
------------*/
.flex {
    display: flex;
}

li {
    list-style: none;
}

li > a {
    color: inherit;
    text-decoration: none;
}

.container-larger {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
    height: auto;
}


/*------------
    TYPOGRAPHY
------------*/
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  /* font-variation-settings: */
    /* "wdth" 100; */
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
}

h4 {
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 25px;
}


/*------------
    BUTTONS
------------*/
.btn {
    padding: 7px 15px;
    border: none;
    cursor: pointer;
    font: inherit;
}

.btn > a {
    text-decoration: none;
    color: inherit;
}

.btn-prim {
    background-color: #0061fe;
    color: white;
}

.btn-sec {
    background-color: transparent;
}


/*------------
    HEADER
------------*/
header {
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: white;
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
}

header > .flex {
    gap: 50px;
}

header ul.flex {
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}


/*------------
    MAIN
------------*/
main > section:first-child {
    background-color: #b4d0e6;
}

.container-larger > h1 {
    padding-top: 100px;
}

.col-img {
    max-width: 70%;
    position: relative;
    bottom: -80px;
}

.col-text {
    max-width: 30%;
    position: relative;
    bottom: -80px;
}

.col-text i:last-of-type {
    font-size: 40px;
    padding-top: 60px;
}

.col-text button {
    margin-top: 40px;
}

.col-text .btn-sec {
    padding-left: 0;
}

section > hr {
    border: 1px solid #f5f5f5;
    margin-top: 120px;
    margin-bottom: 60px;
}

div label:not(:last-of-type) {
    padding-right: 40px;
}

.subscription > h2 {
margin-bottom: 60px;
}

.subscription {
    margin-bottom: 50px;
}

article {
    border: 1px solid black;
    flex-basis: calc(100% / 3);
}

article > div:first-child {
    border-bottom: 1px solid black;
    text-align: center;
    padding: 10px;
}

article.plan li {
    display: flex;
    gap: 5px;
}

article:not(.plan) {
    margin-top: 50px;
}

article:not(.plan) p:last-child {
padding: 25px;
max-width: 60%;
}

.plan-type {
    margin-bottom: 35px;
}

.prize {
    margin-top: 10px;
    margin-bottom: 10px;
}

.plan-card {
    padding: 25px;
}

.plan li {
    margin-top: 15px;
    margin-bottom: 15px;
}

.plan-card .btn {
    margin-top: 50px;
    margin-bottom: 25px;
}

.plan hr {
    margin: 35px 0 40px;
    max-width: 60px;
}

.plan a {
    color: #00f;
}

.plan h5 {
    margin-bottom: 25px;
}

.fa-check {
    color: #00f;
}

main section:nth-child(2) .flex {
    gap: 50px;
}

article div {
    max-width: 100%;
}

article button {
    display: block;
    width: 100%;
}

.plan-card.business {
    display: flex;
    justify-content: space-between;
}

.partner {
margin-top: 200px;
}

.partner > div > div:last-child {
max-width: 30%;
padding-top: 20px;
}

.partner > .flex {
    gap: 50px;
}

.partner .btn {
    border: 1px solid black;
    margin-top: 25px;
}



/*------------
    FOOTER
------------*/